#contact-section{
    background: url("https://images.pexels.com/photos/1635974/pexels-photo-1635974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}
.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}
.form-info{
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}
input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    border-radius: 1rem;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}
.contact-form textarea{
    border: none;
}
input::placeholder{
    color: #fff;
}
textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 1rem !important;
}
textarea::placeholder{
    color: #fff;
}

.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    margin-left: 3%;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}
.submit:hover{
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}